.myNavBar {
  background-color: #069;
  color: #fff;
  padding: 50px;
  margin-bottom: 30px;
}

.myNavBar li {
  color: #fff;
}

footer {
  background: #069;
  text-align: center;
  margin-top: 10px;
  padding: 20px;
}
